@charset "UTF-8";

body, body * {
	vertical-align:baseline;
	border:0 none;
	outline:0;
	padding:0;
	margin:0;
	background-repeat:no-repeat;
	font-family: "Arial", sans-serif;
	box-sizing: border-box;
}

p{
	margin-top: 5px;
}

/** container **/

#squareA{
	position:relative;
	width: 300px;
	height: 250px;
	border:1px solid #cccccc;
	background: #fafafa;
}

#squareB{
	position:relative;
	width: 400px;
	height: 200px;
	border:1px solid #cccccc;
	background: #fafafa;
}

/** preview */

.dynamic{
	display: inline-block;
}

.resultPreview{
	float:right;
}





